*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.nav-list {
  text-align: center;
  overflow: hidden;
  font-size: large;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

ul.nav-list li.nav-list-item {
  display: inline;
  font-size: large;
  margin-right: 1.5em;
}

ul.nav-list li.nav-list-item:last-child {
  margin-right: 0;
}

nav.navbar {
  padding: 0.75em 0;
}
