html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

ul.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.nav-list li.nav-list-item {
  display: inline;
  font-size: large;
  margin-right: 1rem;
}

ul.nav-list li.nav-list-item:last-child {
  margin-right: 0;
}

nav.navbar {
  padding: 0.75rem 0;
}
